*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark;
  font-size: 100%;
  scrollbar-gutter: stable;
  -webkit-text-size-adjust: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  background-color: #eeeeee;
  color: #111111;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  /* web-safe, system font stack */
  font-size: clamp(16px, 2vw, 18px);
  /* https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/ */
  line-height: 1.618em;
  /* golden ratio */
  min-height: 100dvh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #111111;
    color: #eeeeee;
  }
}

article,
aside,
details,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
canvas,
figure,
img,
picture,
svg,
video {
  display: block;
  height: auto;
  max-width: 100%;
}
iframe {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

input,
select,
textarea {
  background-color: transparent;
}
button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
  -webkit-appearance: button;
}

.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
:focus-visible {
  box-shadow: 0 0 0 5px Canvas;
  outline: 3px solid CanvasText;
  outline-offset: 1px;
}
[hidden] {
  display: none !important;
}
